*{
    box-sizing: border-box;
}

body{
    font-family: tahoma, sans sertif;
    font-size: 1rem;
    line-height: 1.4em;
    color: #333;
}

header{
    text-align: center;
}

nav{
    display: flex  ;    
    justify-content: space-around;

}

main{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

h1, h2{
    font-weight: normal;
    text-align: center;
}

h1{
    font-size: 2 rem;
}

h2{
    font-size: 1.3 rem;
}

@media screen and (min-width: 768px){
    .flex{
        display: flex;
        justify-content: space-around;
    }
}

/* TRANSITION*/

/* Effetes sut le texte */

.color p, .color ul {     /*hover = survol de la souris => affiche le texte en rouge quand on passe la souris */
    transition-property: color;
    transition-duration: 3s;
}

.color p:hover{
    color: blue;
}

.color ul:hover{
    color: red;
}

.box{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
}

.background .box{
    background-color: red;
    transition-property: background-color;
    transition-duration: 3s;
}

.background .box:hover{
    background-color: blue;
}

/*effet de transtion*/

.duration .box{
    
    transition-property: background-color ;

}

.duration .box1{
    background-color: #F586DA;
    transition-duration: 1s;
}
.duration .box2{
    background-color: #F586DA;
    transition-duration: 5s;
}
.duration .box3{
    background-color: #F586DA;
    transition-duration: 10s;
}

.duration:hover .box{
    background-color: #714CFE;
}

/*effets de timing function*/

.timing p {
    width: 70%;
    transition-property: width, background-color;
    transition-duration: 5s;
    padding: 5px;
    color: white;
    background-color: lightblue;
}

.timing:hover p {
    width: 100%;
    background-color: lightblue;
}

.linear {
    transition-timing-function: ease;
}
.ease {
    transition-timing-function: linear;
}
.ease-in {
    transition-timing-function: ease-in;
}
.linear-out {
    transition-timing-function: ease-out;
}
.linear-in-out {
    transition-timing-function: ease-in-out;
}


/*partie annimation */

img{
    max-width: 100%;
}

.circle, .animation{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-color: #714CFE;
    transition-property: all;
    transition-duration: 1s;
}

.scale .circle:hover{
    transform: scale(1.5);
}

.translate:hover .circle{
    transform: translate(300px)
}

.rotate .circle{
    background: linear-gradient(blue, white, red);

}

.rotate .circle:hover{
    transform: rotate(90deg);
}

.rotate .balle {
    width: 200px;
    margin: 20px auto;
}

.rotate .balle img{
    transition: all 5s;
}

.rotate .balle img:hover{
    transform: rotate(5turn);
}

.animation{
    background-color: red;
}
.animation1{
    transition: all 500ms;
}
.animation2{
    transition: all 1s;
}
.animation3{
    transition: all 2s;
}
.flex:hover .animation{
    transform: scale(2) translateY(50px);
}

.rectangle{
    background: linear-gradient(red, white, blue);
    width: 200px;
    height: 150px;
    margin: 20px auto;
    transition: all 2s;
}

.rotate .rectangle:hover{
    transform: rotateX(180deg);
}
.skew .rectangle:hover{
    transform: skew(30deg);
}

/*partie animation*/

.plan  {
    border-bottom: 10px solid;
}

.plan img {
    transition: all 4s;
}
.plan:hover img{
    transform: translateX(700px) rotate(360deg);
}

.play  {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: 10px solid gray;
}

.balle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(pink, purple);
    transition: 2s ease-in;
}

.chat:hover+.balle {
    transform: translateX(700px) rotate(360deg);
}

.rotate img{
    animation-name: rotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.bonce{
    margin-top: 250px;
}

.bounce img{
    animation-name: rebond;
    animation-timing-function: cubic-bezier(0,5, 0.05, 1, 0.5);
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rebond{
    from{
        transform: rotateY(-50px);
    }
    to{
        transform: translateY(-280px);
    }
}